<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <!--UserService-->
    <bean id="userService" class="cn.learn.bean.UserService"/>

    <!--DefaultProxyCreateProcessor-->
    <bean class="cn.learn.beans.processor.impl.DefaultAopProxyCreator"/>

    <!--UserServiceBeforeAdvice-->
    <bean id="userServiceBeforeAdvice" class="cn.learn.aop.UserServiceBeforeAdvice"/>
    <bean id="userServiceAroundAdvice" class="cn.learn.aop.UserServiceAroundAdvice"/>

    <!--MethodBeforeAdviceInterceptor-->
    <bean id="methodBeforeInterceptor" class="cn.learn.aop.aspect.interceptor.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="userServiceBeforeAdvice"/>
    </bean>
    <bean id="methodAroundInterceptor" class="cn.learn.aop.aspect.interceptor.MethodAroundAdviceInterceptor">
        <property name="advice" ref="userServiceAroundAdvice"/>
    </bean>


    <!--AspectJExpressionPointcutAdvisor-->
    <bean id="pointcutAdvisor" class="cn.learn.aop.aspect.aspector.AspectJAspetor">
        <property name="expression" value="execution(* cn.learn.bean.IUserService.*(..))"/>
        <property name="adviceInterceptor" ref="methodAroundInterceptor"/>
    </bean>

</beans>