<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <!-- 定义 ContextRefreshedEvent 监听器 -->
    <bean class="cn.learn.event.ContextRefreshedEventListener"/>

    <!-- 定义自定义事件监听器 -->
    <bean class="cn.learn.event.CustomEventListener"/>

    <!-- 定义 ContextClosedEvent 监听器 -->
    <bean class="cn.learn.event.ContextClosedEventListener"/>

</beans>