<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.learn.bean.UserDao"/>

    <bean id="userService" class="cn.learn.bean.UserService">
        <property name="uId" value="10003"/>
        <property name="age" value="18"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>